In [3]:
import pandas as pd

# Read the CSV file from within the zip
mental_health = pd.read_csv('/Users/dylanlam/Documents/GitHub/data_visualization_practive/project/Mental health Depression disorder Data.csv.zip', compression='zip')
fat_supply = pd.read_csv('/Users/dylanlam/Documents/GitHub/data_visualization_practive/project/Fat_Supply_Quantity_Data.csv')
protein_supply = pd.read_csv('/Users/dylanlam/Documents/GitHub/data_visualization_practive/project/Protein_Supply_Quantity_Data.csv')
food_supply = pd.read_csv('/Users/dylanlam/Documents/GitHub/data_visualization_practive/project/Food_Supply_kcal_Data.csv')

/var/folders/gp/2fjqrh9x7xxb3vsdhj8sqp240000gn/T/ipykernel_55545/1194709728.py:4: DtypeWarning: Columns (5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  mental_health = pd.read_csv('/Users/dylanlam/Documents/GitHub/data_visualization_practive/project/Mental health Depression disorder Data.csv.zip', compression='zip')

In [4]:
mental_health.head(1)

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),Alcohol use disorders (%)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.82883,1.677082,4.071831,0.672404

In [5]:
fat_supply.head(1)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,21.6397,6.2224,0.0,8.0353,0.6859,0.0327,0.4246,6.1244,...,17.0831,0.3593,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%

In [6]:
protein_supply.head(1)

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetables,Miscellaneous,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0,9.7523,0.0277,0.0,35.9771,0.4067,0.0647,0.5824,3.1337,...,1.137,0.0462,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%

In [7]:
import pandas as pd

# Merging mental_health (using 'entity') and fat_supply on 'country'
merged_df = pd.merge(mental_health, fat_supply, left_on='Entity', right_on='Country', how='inner')

# Merging the resulting DataFrame with protein_supply on 'country'
merged_df = pd.merge(merged_df, protein_supply, on='Country', how='inner')

# Merging the resulting DataFrame with food_supply on 'country'
merged_df = pd.merge(merged_df, food_supply, on='Country', how='inner')

In [8]:
merged_df.head()

,index,Entity,Code,Year,Schizophrenia (%),Bipolar disorder (%),Eating disorders (%),Anxiety disorders (%),Drug use disorders (%),Depression (%),...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,0,Afghanistan,AFG,1990,0.16056,0.697779,0.101855,4.828830,1.677082,4.071831,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,1,Afghanistan,AFG,1991,0.160312,0.697961,0.099313,4.829740,1.684746,4.079531,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
2,2,Afghanistan,AFG,1992,0.160135,0.698107,0.096692,4.831108,1.694334,4.088358,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
3,3,Afghanistan,AFG,1993,0.160037,0.698257,0.094336,4.830864,1.705320,4.096190,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
4,4,Afghanistan,AFG,1994,0.160022,0.698469,0.092439,4.829423,1.716069,4.099582,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%